*.d
*.o
*.bin
*.hex
*.list
*.srec
*.a
*.elf
*.stylecheck
*.swp
\#*
.\#*
*~
*.map
*.log
html/
latex/
*.pdf
*.tag
.DS_Store
# These are generated

# netbeans, intellij, eclipse project files
nbproject/
.idea/
.project

# cscope databases
cscope.out
